.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 400px;
    height: 30px;
}

.logo{
    width: 200px;
}

.Image-Container{
display: flex;
gap: 10px;
height: 500px;
width: 300px;
border-radius: 2px solid black;
border: none;
}
